form.loginScreen{
    border: 2px solid #5603AD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    width: 450px;
}
form.loginScreen h1{
    font-family: monospace;
    color: #5603AD;
    font-size: 40px;
}
form.loginScreen h2{
    font-family: monospace;
    font-size: 25px;
    margin-bottom: 30px;
}
form.loginScreen input{
    font-size: 25px;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border: 3px solid #5603AD;
}
form.loginScreen input#btnBack{
    width: 49%;
    color: #5603AD;
    border-radius: 7px 0px 0px 7px;
    margin-top: 50px;
}
form.loginScreen input#btnSubmit{
    width: 49%;
    background-color:#5603AD;
    color: white;
    border-radius: 0px 7px 7px 0px;
}
@media screen and (max-width:450px) {
    form.loginScreen{
        width: 100%;
        border: none;
    }
}
@media screen and (max-width:370px) {
    form.loginScreen input#btnBack{
        width: 100%;
        border-radius: 7px;
        margin-top: 80px;
    }
    form.loginScreen input#btnSubmit{
        width: 100%;
        border-radius: 7px;
        margin-top: 20px;
    }
}