@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
    overflow-x: hidden;
}

:root{
    --purple: #5603AD;
    --white: #F0FFF1;
    --black: #050505;
    --gray: #9C9C9C;
    --red: #FA1133;
    --gold: #BE4A1B;
    --borderRadius: 7px;
}

body{
    background-color: var(--white);
    min-height: 100vh;
    min-width: 100vw;
    filter: grayscale(0);
}
  
html.is-animating body{
    filter: grayscale(1);
}

button, input[type=button], a{
    cursor: pointer;
}

svg.spinner{
    animation: spin infinite 1s linear;
    color: var(--purple);
    width: 30vh;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15vh 0 0 -15vh;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header div#logo{
    cursor: pointer;
}

header div#logo h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: var(--purple);
    margin: 5px 10px 0px 10px;
}

header div#logo h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;
    color: var(--black);
    margin: 0px 10px;
}

header div#right div#notification{
    background-color: var(--gray);
    padding: 10px;
    border-radius: var(--borderRadius);
    margin: 20px;
    display: flex;
    cursor: pointer;
}

header div#right div#notification span{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 23px;
    line-height: 23px;
    color: var(--white);
    margin-right: 10px;
    overflow-y: hidden;
}

header div#right div#notification.alert{
    border: 3px solid var(--red);
}

header div#right div#notification.alert svg{
    color: var(--red);
}

header div#right div#notification svg{
    width: 23px;
    height: 23px;
    color: var(--white);
}

span.apiTag{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--red);
    font-weight: bolder;
    font-size: .8em;
}

span.adminTag{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--gold);
    font-weight: bolder;
    font-size: .8em;
}