
div.accountScreen{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 150px 400px;
    grid-template-rows: repeat(75px, 3);
    grid-template-areas: "img username" "img followbtn" "bio bio";
    column-gap: 40px;
    row-gap: 20px;
    margin: 50px 0px;
}

div.accountScreen img{
    grid-area: img;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #5603AD;
    box-shadow: 0px 0px 10px #5603AD;
}

div.accountScreen h1#username{
    grid-area: username;
    font-family: monospace;
    font-weight: bolder;
    font-size: 40px;
    align-self: center;
}

div.accountScreen button{
    grid-area: followbtn;
    font-size: 30px;
    font-family: monospace;
    height: 50px;
    align-self: center;
    background-color: #f0fff1;
    color: #5603AD;
    font-weight: bolder;
    border: 3px solid #5603AD;
    border-radius: 7px;
}

div.accountScreen button.colored{
    background-color: #5603AD;
    color: #f0fff1;
}

div.accountScreen p#bio{
    grid-area: bio;
    font-family: monospace;
    font-size: 25px;
    align-self: end;
    text-overflow: clip;
    max-height: 120px;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: center;
}