@keyframes blink{
    from, to{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

div#logo{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation: all .1s;
}

div#logo h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bolder;
    font-size: 160px;
    color: var(--purple);
}

div#logo h1::after{
    content: "|";
    animation: 1s blink step-end infinite;
    font-weight: normal;
}

div#logo h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
    color: var(--black);
    text-align: end;
}

div#logo[data-reduce=true]{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-0%);
}

div#logo[data-reduce=true] h1{
    font-size: 40px;
}

div#logo[data-reduce=true] h1::after{
    content: "";
    animation: none;
}

div#logo[data-reduce=true] h2{
    font-size: 15px;
}

div#content{
    text-align: center;
    margin-top: 80px;
}

div#content h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    margin-bottom: 50px;
}

div#content button{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 400px;
    border: 3px solid var(--purple);
    border-radius: var(--borderRadius);
    background-color: var(--white);
    color: var(--purple);
    padding: 5px;
    margin-top: 13px;
}