div.homeScreen div#content{
    text-align: center;
    margin-top: 180px;
}

div.homeScreen div#content h2{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    margin-bottom: 50px;
}

div.homeScreen div#content button{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 400px;
    border: 3px solid var(--purple);
    border-radius: var(--borderRadius);
    background-color: var(--white);
    color: var(--purple);
    padding: 5px;
    margin-top: 13px;
}