ul.friendsSubpage{
    list-style: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    border: 2px solid var(--gray);
    border-radius: var(--borderRadius);
    margin: 50px 0px;
}

ul.friendsSubpage li{
    position: relative;
    border-top: 2px solid var(--gray);
    padding: 10px;
    height: 80px;
}

ul.friendsSubpage li#header{
    line-height: 60px;
    border-top: none;
}

ul.friendsSubpage li#header h2{
    font-family: monospace;
    font-size: 35px;
    text-align: center;
    position: relative;
    color: var(--purple);
}

ul.friendsSubpage li img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--black);
    box-shadow: none;
    position: relative;
    left: 0;
    transform: none;
    margin-right: 20px;
}

ul.friendsSubpage li h1{
    display: inline-block;
    font-family: monospace;
    font-size: 35px;
    transform: translateY(-45%);
}

ul.friendsSubpage li h1 svg#verifiedBadge{
    position: relative;
    left: 12px;
    top: 2px; 
}

@media screen and (max-width: 750px) {
    ul.friendsSubpage{
        width: 100%;
    }
    ul.friendsSubpage h2{
        font-size: 6vw;
        margin: 5px 0px;
    }
    ul.friendsSubpage li{
        height: 10vw;
        padding: 1vw;
    }
    ul.friendsSubpage li#header h2{
        font-size: 6vw;
        line-height: 6vw;
    }

    ul.friendsSubpage li img{
        width: 8vw;
        height: 8vw;
        margin-right: 10px;
    }
    ul.friendsSubpage li h1{
        font-size: 6vw;
        transform: translateY(-35%);
    }
    ul.friendsSubpage li h1 svg#verifiedBadge{
        position: relative;
        left: 5px;
        width: 5vw;
        height: 5vw;
    }
}