nav.homeSubpage{
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0px;
    max-width: 750px;
}

nav.homeSubpage div.block{
    display: inline-block;
    position: relative;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    border: 2px solid var(--gray);
    border-radius: var(--borderRadius);
    padding: 20px;
    padding-bottom: 30px;
}

nav.homeSubpage div.block[data-size="half"]{
    width: calc(50% - 10px);
}

nav.homeSubpage div.block h1{
    font-family: 'Be Vietnam Pro', sans-serif;;
    font-weight: bolder;
    font-size: 35px;
}

nav.homeSubpage div.block p{
    margin: 13px 0px;
}

nav.homeSubpage div.block[data-size="full"] p{
    margin-bottom: 28px;
}

nav.homeSubpage div.block a{
    position: absolute;
    bottom: 15px;
    font-weight: bolder;
    color: var(--purple);
    font-size: 20px;
}

@media (min-width: 600px){
    nav.homeSubpage div.block{
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    nav.homeSubpage, nav.homeSubpage div.block[data-size="half"]{
        width: 100%;
    }
}