ul.notifications{
    list-style: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    border: 2px solid var(--gray);
    border-radius: var(--borderRadius);
    margin: 50px 0px;
}

ul.notifications li{
    padding: 10px;
    height: 85px;
    display: grid;
    grid-template-rows: 35px 25px;
    grid-template-columns: 60px auto;
    grid-column-gap: 20px;
    grid-template-areas: "img name" "img text";

    position: relative;
    border-top: 2px solid var(--gray);
    padding: 10px;
    height: 83px;
    display: grid;
    grid-template-rows: 35px 25px;
    grid-template-columns: 60px auto 150px;
    grid-column-gap: 20px;
    grid-template-areas: "img name action" "img text action";
}

ul.notifications li#header{
    display: block;
    border-top: none;
}

ul.notifications li#header h2{
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 35px;
    text-align: center;
    position: relative;
    color: var(--purple);
    align-items:center;
    justify-content:center;
    font-weight: bold;
}

ul.notifications li .img{
    grid-area: img;
    width: 100%;
    height: 100%;
    color: var(--purple);
}

ul.notifications li h1{
    grid-area: name;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 28px;
}

ul.notifications li h2{
    grid-area: text;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
}

ul.notifications li div{
    grid-area: action;
    display: flex;
    justify-content: space-between;
}

ul.notifications li div button{
    border: none;
    border: 3px solid var(--red);
    border-radius: var(--borderRadius);
    color: var(--white);
    background-color: var(--red);
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bolder;
}

ul.notifications li.viewed .img{
    color: var(--black);
}

ul.notifications li.viewed h1{
    font-weight: normal;
}

ul.notifications li.viewed h2{
    font-weight: normal;
    color: #353535
}

ul.notifications li.viewed div button{
    background-color: var(--white);
    color: var(--red);
}
@media screen and (max-width: 750px) {
    ul.notifications{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    ul.notifications li{
        height: 16vw;
        padding: 1.5vw;
        grid-template-rows: 6.75vw 5.25vw;
        grid-template-columns: 8vw auto;
        grid-column-gap: 20px;
    }
    ul.notifications li#header h2{
        font-size: 9vw;
    }

    ul.notifications li img{
        width: 12vw;
        height: 12vw;
    }
    ul.notifications li h1{
        height: 100%;
        line-height: 100%;
        font-size: 6vw;
    }
    ul.notifications li h2{
        height: 100%;
        line-height: 100%;
        font-size: 5vw;
    }
    ul.notifications li h1 svg#verifiedBadge{
        position: relative;
        left: 5px;
        width: 4vw;
        height: 4vw;
    }
    ul.notifications li div button{
        height: 100%;
        width: 100%;
        font-size: 6vw;
    }
}