div.notFoundScreen div#title h1{
    color: var(--purple);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 150px;
    text-align: center;
    margin-top: 100px;
}

div.notFoundScreen div#title h2{
    color: var(--black);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

div.notFoundScreen div#title button{
    border: none;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    background-color: var(--red);
    color: var(--white);
}