@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

body{
    background-color: #f0fff1;
    height: 100vh;
}

button, input[type=button]{
    cursor: pointer;
}

svg.spinner{
    animation: spin infinite 1s linear;
    color: #5603AD;
    width: 30vh;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15vh 0 0 -15vh;
}

div.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -43.5%);
    background-color: #00000066;
}

div.modal div#box{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0fff1;
    border: 3px solid #5603AD;
    padding: 15px;
    width: 500px;
    border-radius: 7px;
    text-align: center;
}

div.modal div#box h1{
    font-family: monospace;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 30px;
}

div.modal div#box button#close{
    border: 3px solid #5603AD;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: #5603AD;
    background-color: #f0fff1;
    transition: all .1s;
}

div.modal div#box button#close:hover{
    background-color: #5603AD;
    color: #f0fff1;
}

div.modal div#box button.navButton{
    font-size: 30px;
    font-family: monospace;
    height: 50px;
    width: 45%;
    margin: 2% 2.5%;
    background-color: #f0fff1;
    color: #5603AD;
    font-weight: bolder;
    border: 3px solid #5603AD;
    border-radius: 7px;
    margin-top: 30px;
}
div.modal div#box button.navButton.colorized{
    color: #f0fff1;
    background-color: #5603AD;
}